<!DOCTYPE html>
	<html lang="es">
		<head>
			<meta charset="UTF-8">
			<title>Consejos de salud</title>
		</head>
		
		<body>
			<header>
				<h1>Mascotas Barn</h1>
				<img alt="Perro marron feliz" src="../static/Animales.jpg" title="Mascota Banner" width="100%">
			</header>
				<nav>
					<ul>
						<li><a href="index.html">Inicio</a></li>
						<li><a href="Productos.html">Productos</a></li>
						<li><a href="3-Consejos_de_salud.html">Consejos de Salud</a></li>
						<li><a href="Servicio_de_paseo.html">Servicio de paseo</a></li>
						<li><a href="sucursales.html">Sucursales</a></li>
						<li><a href="Contacto.html">Contacto</a></li>
					</ul>
				</nav>
			<section>
				<article>
					<h2>Conoce los cuidados que necesita tu mascota y como te puedes beneficiar de ellos</h2>
					<h3>Al cuidar de tu mascota puedes mejorar tu salud física y mental</h3>
					<p>¿Sabías que la hormona Oxitocina, que se secreta cuando el cuerpo experimenta placer, también se secreta cuando una mascota y su dueño experimentan interacciones positivas entre si?<br/><br/>
					Entre más fuerte sea el vínculo entre la persona y su mascota, mayor es la posibilidad de que la persona secrete esta hormona, creando estados de felicidad y también de salud.<br/><br/>
					Se encuentra comprobado que al tener una estrecha relación con tu mascota e interactuar con esta regularmente, aparecen una serie de beneficios en tu vida. Por ejemplo, acariciar a una mascota por aproximadamente 10 minutos o más puede aliviar rápidamente el estrés cotidiano y bajar tu presión arterial. La compañía de tu mascota también puede mejorar tu salud mental al evitar depresiones.<br/><br/>
					Tus hijos también se verán beneficiados ya que varios estudios señalan que los niños que han crecido con mascotas son más saludables, aquellos que han vivido con perros o gatos en su primer año de vida, presentan menores problemas de infecciones en sus oídos, problemas respiratorios, y alergias que los niños que no tienen mascotas.<br/><br/>
					Estudios demuestran que las personas que cuidan de sus mascotas también podrían ser más saludables, a razón que al sacarlos a caminar o correr y también jugar activamente con ellos se hace ejercicio teniendo un impacto positivo en su cuerpo y mente. En particular se han demostrado beneficios de salud al disminuir la tasa de problemas cardiovasculares.<br/><br/>
					Muy específicamente los perros también pueden ayudar a las personas con ciertos problemas de salud como la epilepsia y el cáncer, ya que ciertos perros se pueden entrenar a detectar estos problemas antes de que ocurran o justo en el momento en el cuál se está comenzando.</p>
					<p><strong>A continuación te listamos una serie de beneficios que podría traer el cuidar de tus perros:</strong></p>
					<ul>
					  	<li>Menos enfermedades<br/><br/></li>
					  	<li>Más resistencia a las alergias.<br/><br/></li>
					  	<li>Mayor felicidad.<br/><br/></li>
					  	<li>Un corazón saludable.<br/><br/></li>
					  	<li>Más ejercicio.<br/><br/></li>
					  	<li>Vida social más activa.<br/><br/></li>
					  	<li>Disminución del estrés.</li>
					</ul>
					<p>Recuerda siempre mantener a tu mascota saludable dándole los cuidados veterinarios necesarios.(Ver nota sobre vacunación y desparasitación más abajo)</p>
					</article>
					<article>
					<h2>Cuidados médicos esenciales para proteger a tu mascota </h2>
					¿Sabías que al cuidar de tu mascota estás cuidando de tu familia?<br/><br/>
					Al igual que un niño, tus mascotas necesitan de cuidados médicos desde sus primeras semanas de vida. De lo contrario pueden llegar a contagiarse de posibles parásitos y enfermedades que consecuentemente pueden llegar a enfermar a tu familia.  Por lo tanto, proteger a tu familia significa darle a tu mascota buena salud.<br/><br/>
					Ahora bien, ¿Conoces lo que son las enfermedades zoonóticas? Son aquellas que son transmitidas de un animal hacia un ser humano. Puede ser cualquier animal, por ejemplo:perros, gatos, aves, reptiles, animales de granja, animales silvestres, entre otros. Sin embargo, en el caso de las mascotas, la mayoría de las enfermedades zoonóticas suelen ser controlables, teniendo buenos hábitos de higiene y llevando un control de  vacunas y de parásitos internos y externos<br/><br/>
					<strong>Aquí te listamos unos consejos básicos que debes de tener en cuenta a la hora de cuidar de tu mascota:</strong>
					</p>
					<ul>
					  	<li>Si tu mascota es adulta, llévala a un chequeo anual con el veterinario. Los perros y los gatos deben ser vacunados una vez al año contra las enfermedades más comunes (rabia, distemper, parainfluenza, parvovirus, entre otras). En algunos casos específicos, se debe vacunar contra otras enfermedades, como es en Brasil, en donde es recomendable la vacunación contra la Leishmania.<br/><br/></li>
					  	<li>Tu veterinario recomendará qué tan seguido debes desparasitar a tu mascota contra los parásitos internos. La desparasitación es común hacerla a través de la administración de una pastilla cada tres meses. El tipo de desparasitación dependerá de donde vives, ya que diferentes parásitos se pueden dar en diferentes lugares. Por ejemplo, es común encontrar casos del gusano del corazón en lugares tropicales cerca de la playa.<br/><br/></li>
					  	<li>Pregúntale a tu veterinario cuál régimen de control de parásitos externos es el más indicado para tu mascota.  Es común utilizar pipetas con aceite en el pelaje del perro o el gato cada mes.  También es común hacer baños medicados.  Con esto podrás controlar las pulgas, garrapatas, ácaros, etc.  ¡Cuidado! No uses productos de perros en los gatos. Pueden ser tóxicos.<br/><br/></li>
					  	<li>Si tienes un cachorro o gatito, llévalo al veterinario en sus primeros días o en el momento de ser adquirido para revisión. Los cachorros y gatitos necesitan de 3 o 4 rondas de vacunaciones y desparasitaciones antes de los 4 meses.<br/><br/></li>
					  	<li>Limpia la caja de arena de tu gato al menos una vez al día. Hay organismos particulares, como el Toxoplasma, que puede ser evitados por completo si la limpieza se hace diariamente. Si estás embarazada, usa guantes para limpiar la caja de arena.<br/><br/></li>
					  	<li>No dejes que tu mascota tome agua de cualquier sitio, en especial contaminada. (cañerías)<br/><br/></li>
					  	<li>Lava tus manos constantemente: Especialmente después de tener contacto con tu mascota y antes de comer. Enseña a tus hijos a tener buenos hábitos de aseo.<br/><br/></li>
					  	<li>Si su mascota hace sus necesidades en el patio, utiliza zapatos para salir al jardín.</li>
					</ul>

					<p>No te olvides que una mascota saludable es un animal feliz y por lo tanto cuidándola tu familia estará a salvo de la transmisión de enfermedades zoonóticas.<br/><br/>
					</article>
					<article>
					<h2>¿Qué necesita tu mascota para tener bienestar animal?</h2>
					Imagina estar atado por largas horas del día a un poste o el techo de tu casa.  ¿Cómo te sentirías? ¿Crees que estarías cómodo? ¿Crees que te frustrarías eventualmente?<br/><br/>
					Una mascota que no conoce otra vida más que estar encadenada sufre permanentemente. Puede sufrir de jalones y lesiones en su piel por el collar y en su cuerpo por el contacto con el piso, exposición a la lluvia, el sol, frío y el calor, parásitos y enfermedades. Son forzados a comer, dormir, orinar y defecar en el mismo lugar. También se les niega la posibilidad de socializar con otros de su especie, algo importante para estos animales que son sociales por naturaleza.<br/><br/>
					Las cadenas pueden fácilmente enredarse al árbol, poste, casa de perro u otros objetos, pudiendo llevar a más lesiones e inclusive la muerte por ahorcamiento. En poco tiempo los perros se aburren, se sienten solos, se vuelven ansiosos, miedosos, fácilmente alterables e inclusive altamente agresivos.<br/><br/>
					Algunas personas creen que los perros amarrados son buenos guardianes. Sin embargo, en lugar de proteger al dueño y a la propiedad, un perro amarrado muy comúnmente se volverá temeroso cuando se le presenta un estímulo, precisamente porque sabe que al estar atado, no podrá escapar.<br/><br/>
					De igual forma, podría convertirse en un perro agresivo, resultado de la frustración de no poder explorar su ambiente y no poder determinar si el estímulo representa o no una amenaza real. Inclusive se han dado casos de perros que muerden o atacan a sus propios dueños.<br/><br/>
					Las mordeduras y ataques por perros amarrados es una realidad que puede ser evitada si respetamos el bienestar animal. ¿Conoces lo que es bienestar? Pues bien, para que exista bienestar en un animal debe gozar de salud física, mental y el poder comportarse naturalmente. Una forma fácil de medir el bienestar es a través de las 5 libertades básicas.<br/><br/>
					<strong>Los animales deben vivir:</strong>
					</p>
					<ol>
						<li>Libres de hambre y sed.<br/><br/></li>
						<li>Libres de dolor, lesiones y enfermedades.<br/><br/></li>
						<li>Libres de miedo y estrés.<br/><br/></li>
						<li>Libres de incomodidades.<br/><br/></li>
						<li>Libres para poder expresar el comportamiento normal de su especie.</li>
					</ol>
					<p><strong>En base a esas libertades, para que tu perro tenga bienestar, necesita:</strong></p>
					<ul>
					  	<li>Agua fresca disponible siempre y una buena alimentación.<br/><br/></li>
					  	<li>Cuidados médicos preventivos y en caso de enfermedad o accidente.<br/><br/></li>
					  	<li>Un espacio aseado con protección de las inclemencias del clima y un lugar cómodo para dormir.<br/><br/></li>
					  	<li>Ejercitarse y jugar a diario (por ejemplo, caminatas y juego con la bola).<br/><br/></li>
					  	<li>Socialización con otros perros y cariño humano.<br/><br/></li>
					  	<li>Un espacio separado en donde orinar y defecar.</li>
					</ul>
					<p>Si consideras completamente necesario atar a tu perro por alguna razón (por ejemplo, se escapa cuando alguien abre la puerta), asegura hacerlo por momentos cortos y utilizando materiales seguros para la piel de tu mascota.</p>
				</article>
			</section>
			<aside>
		      <h2>Otras recomendaciones para el cuidado de mascotas</h2>
		      <ul>
		        <li>Alimenta a tu mascota con una dieta equilibrada y adecuada a su edad y tamaño.</li>			        
		        <li>Mantén a tu mascota hidratada y asegúrate de tener siempre agua fresca disponible.</li>
			    <li>Lleva a tu mascota al veterinario regularmente para chequeos y vacunas.</li>
		        <li>Proporciona a tu mascota suficiente ejercicio y estimulación mental.</li>
		        <li>Proporciona a tu mascota un lugar cómodo y seguro para descansar.</li>
		      </ul>
  			</aside>
			<footer>
				<p>Copyright 2023 - Pagina Web - Diseñado por Grupo 11 – Jujuy – República Argentina </p>
			</footer>
		</body>
	</html>