<!DOCTYPE html>
<html lang='es'>

	<head>
		<meta charset="UTF-8">
		<title>Contactanos</title>
	</head>

	<body>
		<header>
			<h1>Mascotas Barn</h1>
			<img alt="Perro marron feliz" src="../static/Animales.jpg" title="Mascota Banner" width="100%">
		</header>
		<nav>
			<ul>
				<li><a href="index.html">Inicio</a></li>
				<li><a href="Productos.html">Productos</a></li>
				<li><a href="3-Consejos_de_salud.html">Consejos de Salud</a></li>
				<li><a href="Servicio_de_paseo.html">Servicio de paseo</a></li>
				<li><a href="sucursales.html">Sucursales</a></li>
				<li><a href="Contacto.html">Contacto</a></li>
			</ul>
		</nav>
		<section>
			<fieldset>
				<h2>Contáctenos</h2>
				<p>
					3915 Av. General Belgrano, 388-9999999 <br>
					Lunes a Viernes: 9:00 am a 8:00 pm <br>
					Sábados a Domingos: 9:00 am a 12:30 pm <br>
				</p>
				<a href=""> contacto@mail.com.ar </a>		
				<ul>
					<li>
						<a href=""> Facebook </a>
					</li>
					<li>
						<a href=""> Instagram </a>
					</li>
					<li>
						<a href=""> Twitter </a>
					</li>
				</ul>
				<hr>
				<form>
					<label>
						Nombre
					</label>
					<input type="text" placeholder="Ingrese su nombre">
					<br>
					<br>
					<label>
						Email
					</label>
					<input type="email" placeholder="Ingrese un email valido">
					<br>
					<br>
					<label>
						Ciudad
					</label>
					<input type="text" placeholder="Ingrese su ciudad">
					<br>
					<br>
					<label>
						Mensaje
					</label>
					<textarea> </textarea>
					<br>
					<br>
					<button type="submit">Enviar</button>
				</form>
			</fieldset>
		</section>
		<aside>
			<h2>Otras recomendaciones para el cuidado de mascotas</h2>
			<ul>
				<li>Alimenta a tu mascota con una dieta equilibrada y adecuada a su edad y tamaño.</li>
				<li>Mantén a tu mascota hidratada y asegúrate de tener siempre agua fresca disponible.</li>
				<li>Lleva a tu mascota al veterinario regularmente para chequeos y vacunas.</li>
				<li>Proporciona a tu mascota suficiente ejercicio y estimulación mental.</li>
				<li>Proporciona a tu mascota un lugar cómodo y seguro para descansar.</li>
			</ul>
		</aside>
	</body>
	<footer>
		<p>APU 2023 &copy; Copyright, Mascotas Barn, Diseñado por Grupo11 , SS Jujuy - Argentina</p>
	</footer>
</html>