<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
			<title>Contactanos</title>
	</head>

		<body>
		<fieldset>
		<header>
		<h1>Contáctenos</h1>
				<b></b>
			
		</header>
		
			<p>
				3915 Av. General Belgrano, 388-9999999 <br>
				Lunes a Viernes: 9:00 am a 8:00 pm <br>
				Sábados a Domingos: 9:00 am a 12:30 pm <br>
			</p>
				<a href=""> contacto@mail.com.ar </a>
				
				<b></b>
			
			<nav>
				<ul>
						<li>
						      <a href=""> Facebook </a>
						</li>	
						<li>
						      <a href=""> Instagram </a>
						</li>	
						<li>
						      <a href=""> Twitter </a>
						</li>	
				</ul>
			</nav>
			
				<hr>
				
						<form>						

								<label>
									Nombre
								</label>
								<input type="text" placeholder="Ingrese su nombre">
								<br>
								<br>
								
								

								<label>
									Email
								</label>
								<input type="email" placeholder="Ingrese un email valido">
								<br>
								<br>
								
								<label>
									Ciudad
								</label>
								<input type="text" placeholder="Ingrese su ciudad">
								<br>
								<br>
								
								<label>
									Mensaje
								</label>
								
								<textarea> </textarea>
								<br>
								<br>
								<button type="submit">Enviar</button>
						</form>
		
		</fieldset>
		</body>


</html>