<!DOCTYPE html>
<html lang='es'>

<head>
	<meta charset="UTF-8">
	<title>Contactanos</title>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
	<header>
		<div id="titulo">
			<h1>Mascotas Barn</h1>
		</div>
		<img id="portada" alt="Perro marron feliz" src="../static/images/portada.jpg" title="Mascota Banner">
	</header>
	<nav>
		<ul>
			<li><a href="index.html">Inicio</a></li>
			<li><a href="producto.html">Productos</a></li>
			<li><a href="consejos.html">Consejos de Salud</a></li>
			<li><a href="paseos.html">Servicio de paseo</a></li>
			<li><a href="sucursales.html">Sucursales</a></li>
			<li><a href="contactos.html">Contacto</a></li>
		</ul>
	</nav>
	<div class="contenido">
		<section id="seccion">
			<h2>Formulario de Contacto</h2>
			<fieldset id="fieldset-form">

				<legend> <b>Contáctenos</b> </legend>
				<p>
					3915 Av. General Belgrano, 388-9999999 <br>
					Lunes a Viernes: 9:00 am a 8:00 pm <br>
					Sábados a Domingos: 9:00 am a 12:30 pm <br>
				</p>
				<a href=""> contacto@mail.com.ar </a>
				<ul>
					<li>
						<a href=""> Facebook </a>
					</li>
					<li>
						<a href=""> Instagram </a>
					</li>
					<li>
						<a href=""> Twitter </a>
					</li>
				</ul>
				<br>
				<hr>
				<br>
				<form>
					<div>
						<label>
							Nombre
						</label>
						<br>
						<input type="text" placeholder="Ingrese su nombre">
					</div>
					<div>
						<label>
							Email
						</label>
						<br>
						<input type="email" placeholder="Ingrese un email valido">
					</div>
					<div>
						<label>
							Ciudad
						</label>
						<br>
						<input type="text" placeholder="Ingrese su ciudad">
					</div>
					<div>
						<label>
							Mensaje
						</label>
						<br>
						<textarea> </textarea>
					</div>

					<button type="submit">Enviar</button>
				</form>
			</fieldset>
		</section>
		<aside>
			<h2>Otras recomendaciones</h2>
			<ul>
				<li>Aliméntala con una dieta equilibrada y adecuada a su edad y tamaño.</li>
				<li>Mantenla hidratada y asegúrate de tener siempre agua fresca disponible.</li>
				<li>Asegúrate de ir al veterinario regularmente para chequeos y vacunas.</li>
				<li>Proporciona suficiente ejercicio y estimulación mental.</li>
				<li>Proporciónale un lugar cómodo y seguro para descansar.</li>
			</ul>
		</aside>
	</div>
	<footer>
		<p>APU 2023 &copy; Copyright, Mascotas Barn, Diseñado por Grupo11 , SS Jujuy - Argentina</p>
	</footer>
</body>


</html>