<!DOCTYPE html>
<html lang='es'>

	<head>
		<meta charset="UTF-8">
		<title>Contactanos</title>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="../static/css/styles.css">
	</head>

	<body>
		<div>
			<header>
				<div id="container">
					<div id="titulo"><h1>Mascotas Barn</h1></div>
					<div>
						<img id="front-page" alt="Perro feliz" src="../static/images/perrito feliz.jpg" title="Mascota Banner" width="100%">
					</div>
				</div>
			</header>
			<nav>
				<ul>
					<li><a href="index.html">Inicio</a></li>
					<li><a href="Productos.html">Productos</a></li>
					<li><a href="3-Consejos_de_salud.html">Consejos de Salud</a></li>
					<li><a href="Servicio_de_paseo.html">Servicio de paseo</a></li>
					<li><a href="sucursales.html">Sucursales</a></li>
					<li><a href="Contacto.html">Contacto</a></li>
				</ul>
			</nav>
		</div>
		<section id="seccion">
			<fieldset id="fieldset-form" >
				
				<legend> <b>Contáctenos</b> </legend>
				<p>
					3915 Av. General Belgrano, 388-9999999 <br>
					Lunes a Viernes: 9:00 am a 8:00 pm <br>
					Sábados a Domingos: 9:00 am a 12:30 pm <br>
				</p>
				<a href=""> contacto@mail.com.ar </a>		
				<ul>
					<li>
						<a href=""> Facebook </a>
					</li>
					<li>
						<a href=""> Instagram </a>
					</li>
					<li>
						<a href=""> Twitter </a>
					</li>
				</ul>
				<hr>
				<form>
					<label>
						Nombre
					</label>
					<input type="text" placeholder="Ingrese su nombre">
					<br>
					<br>
					<label>
						Email
					</label>
					<input type="email" placeholder="Ingrese un email valido">
					<br>
					<br>
					<label>
						Ciudad
					</label>
					<input type="text" placeholder="Ingrese su ciudad">
					<br>
					<br>
					<label>
						Mensaje
					</label>
					<textarea> </textarea>
					<br>
					<br>
					<button type="submit">Enviar</button>
				</form>
			</fieldset>
			<aside id="aside-form">
			<h2>Otras recomendaciones para el cuidado de mascotas</h2>
			<ul>
				<li>Alimenta a tu mascota con una dieta equilibrada y adecuada a su edad y tamaño.</li>
				<li>Mantén a tu mascota hidratada y asegúrate de tener siempre agua fresca disponible.</li>
				<li>Lleva a tu mascota al veterinario regularmente para chequeos y vacunas.</li>
				<li>Proporciona a tu mascota suficiente ejercicio y estimulación mental.</li>
				<li>Proporciona a tu mascota un lugar cómodo y seguro para descansar.</li>
			</ul>
		</aside>
		</section>
		
	</body>
	<footer>
		<p>APU 2023 &copy; Copyright, Mascotas Barn, Diseñado por Grupo11 , SS Jujuy - Argentina</p>
	</footer>
</html>