<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Inicio</title>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" th:href="@{/css/styles.css}">
	</head>
	<body>
		<header th:replace="~{layouts/header :: header}"></header>
		<nav th:replace="~{layouts/nav :: nav}"></nav>
		<div class="contenido">
			<section id="nosotros">
				<h2>Objetivos de la empresa</h2>
				<article>
					<h3>Nuestro objetivo</h3>
					<p>En nuestro negocio de mascotas, nos esforzamos por brindar el
						mejor cuidado posible para tus amigos peludos. Nuestro objetivo es
						ofrecer una experiencia excepcional para tus mascotas y para ti como
						dueño, para que puedas estar seguro de que tu mascota está en buenas
						manos.</p>
				</article>
				<article>
					<h3>Servicios que ofrecemos</h3>
					<p>Ofrecemos una amplia variedad de servicios para satisfacer
						todas las necesidades de tus mascotas, incluyendo: cuidado de día,
						alojamiento nocturno, servicios de aseo, paseos diarios,
						entrenamiento y mucho más.</p>
				</article>
				<article>
					<h3>Nuestro equipo</h3>
					<p>Contamos con un equipo altamente capacitado y dedicado que ama
						a los animales tanto como tú. Nos aseguramos de que todos nuestros
						empleados estén entrenados para ofrecer el mejor cuidado posible a
						tus mascotas.</p>
				</article>
			</section>
			<aside th:replace="~{layouts/aside :: aside}"></aside>
		</div>
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</body>
</html>