<!DOCTYPE html>
	<html lang="es">
		<head>
			<meta charset="UTF-8">
			<title>Inicio</title>
		</head>
		
		<body>
			<header>
				<h1>Mi página inicial</h1>
				<img alt="Img1" src="../static/Animales.jpg" title="" width="100%">
			</header>
			<nav>
				<ul>
					<a href="">Inicio</a>
					<a href="">Productos</a>
					<a href="">Consejos de Salud</a>
					<a href="">Servicio de paseo</a>
					<a href="">Sucursales</a>
					<a href="">Contacto</a>
				</ul>
			</nav>
			<section>
				<h2>Articulos</h2>
				<article>lorem ipsum</article>
				<article>lorem ipsum</article>
				<article>lorem ipsum</article>
			</section>
			<aside>
				<h2>Info adicional</h2>
				<article>lorem</article>
			</aside>
			<footer>
				<p>Copyright 2023 - Pagina Web - Diseñado por Grupo 11 – Jujuy – República Argentina</p>
			</footer>
		</body>
	</html>