<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Nuevo Producto</title>
		<link rel="shortcut icon" th:href="@{/images/Mascotas-Barn2.ico}" type="image/x-icon" >
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	</head>
	<body>
		<header th:replace="~{layouts/header :: header}"></header>
		<nav th:replace="~{layouts/nav :: nav}"></nav>
		<div class="container-xxl my-4">
			<div class="row justify-content-evenly gap-4 my-4 ">
			<section class="col-11 col-lg-7 bg-light p-4 rounded-4">
				<h2 class="titulares fw-bold">Nuevo Producto</h2>
				<fieldset class="rounded-2 border border-2 border-success">
					<legend style="float:none;width: fit-content;"> <b>Agregar Producto</b> </legend>
					<form class="px-3 pt-3" th:action="@{/producto/nuevo-producto}" th:object="${formProducto}" method="post" enctype="multipart/form-data">
						<div class="form-floating mb-3">
							<input th:classappend="${#fields.hasErrors('nombre')} ?'is-invalid':'' " id="nombre" class="form-control"  type="text" placeholder="Ingrese el producto" th:field="*{nombre}">
							<label for="nombre">Nombre del Producto</label>
							<p class="text-danger p-2  my-2 " th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></p>							
						</div>
						<div class="form-group">
							<select placeholder="Ingrese el código"  th:classappend="${#fields.hasErrors('categoria')} ?'is-invalid':'' " class="form-select form-select-lg mb-3"  th:field="*{categoria}" id="categoria">
								<option selected value="">Categoria</option>
								<option value="Alimento">Alimento</option>
								<option value="Juguetes">Juguetes</option>
								<option value="Collares">Collares</option>
								<option value="Camas">Camas</option>
								<option value="Vestimenta">Vestimenta</option>
								<option value="Higiene">Higiene</option>
								<option value="Arenero">Arenero</option>
								<option value="Transportador">Transportador</option>
								<option value="Acuarios">Acuarios</option>
							</select>
							<p class="text-danger p-2  my-2 " th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></p>
						</div>
						<!-- Se cambio este form por un select
 						<div class="form-floating mb-3">
							<input  th:classappend="${#fields.hasErrors('categoria')} ?'is-invalid':'' " class="form-control" id="categoria"  type="text" placeholder="Ingrese la categoria" th:field="*{categoria}">
							<label for="categoria">Categoria</label>
							<p class="text-danger p-2  my-2 " th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></p>
						</div>-->
						<div class="form-floating mb-3">
							<input th:classappend="${#fields.hasErrors('cod')} ?'is-invalid':'' " class="form-control"  type="number" placeholder="Ingrese el código" th:field="*{cod}">
							<label>Código del Producto</label>
							<p class="text-danger p-2  my-2 " th:if="${#fields.hasErrors('cod')}" th:errors="*{cod}"></p>
						</div>
						<div class="form-floating mb-3">
							<input th:classappend="${#fields.hasErrors('precio')} ?'is-invalid':'' " class="form-control" id="precio"  type="number" placeholder="Ingrese el Precio" th:field="*{precio}">
							<label for="precio">Precio</label>							
							<p class="text-danger p-2  my-2 " th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></p>
						</div>
						<div class="form-floating mb-3">
							<input th:classappend="${#fields.hasErrors('descuento')} ?'is-invalid':'' " class="form-control" id="descuento"  type="number" placeholder="Ingrese el Descuento" th:field="*{descuento}">
							<label for="descuento">Descuento</label>
							<p class="text-danger p-2  my-2 " th:if="${#fields.hasErrors('descuento')}" th:errors="*{descuento}"></p>
						</div>
						<div class="mb-3">
							<label for="file" class="form-label">Imagen del Producto</label>
							<input type="file" accept="image/*" name="file" id="file" class="form-control" th:text="${formProducto.imagen}">
						</div>
						<!-- Se cambio para agregar imagenes de tipo file
						<div class="form-floating mb-3">
							<input th:classappend="${#fields.hasErrors('imagen')} ?'is-invalid':'' " class="form-control"  id="imagen"  type="text" placeholder="Ingrese el url de la imagen" th:field="*{imagen}">
							<label for="imagen">Imagen</label>
							<p class="text-danger p-2  my-2 " th:if="${#fields.hasErrors('imagen')}" th:errors="*{imagen}"></p>
						</div>-->
						<button class="btn text-white" style="background: radial-gradient(#025159 0%, #35402D 100%);" type="submit">Enviar</button>
					</form>
					<p th:if="${mensaje}" th:text="${mensaje}"></p>
					<p th:text="${lista}"></p>
				</fieldset>
			</section>
			<aside th:replace="~{layouts/aside :: aside}"></aside>
			</div>
		</div>
		<footer th:replace="~{layouts/footer :: footer}"></footer>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
	</body>
</html>