<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
	<meta charset="UTF-8">
	<title>Servicio de Paseo</title>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	
</head>

<body>
	<header th:replace="~{layouts/header :: header}"></header>
	<nav th:replace="~{layouts/nav :: nav}"></nav>
	<div class="contenido">
		<section class="paseo-general">
			
			<div class="productos-nav">
				<h2 id="titulo-producto">Horarios de Paseo</h2><button><a th:href="@{/paseos/nuevohorario}"><i class="bi bi-plus-circle"></i></a></button>
			</div>
			<div><img class="paseo" alt="mascotasPaseando" th:src="@{/images/paseo2.jpg}" title="pet2"></div>
			<div>
				<table id="t1">
					<tr>
						<th>Día</th>
						<th th:each="lhora: ${listaDeHorarios}" th:text="${lhora.dia}"></th>
						
					</tr>
					<tr>
						<td>Horario AM</td>
						<td  th:each="lhora: ${listaDeHorarios}" th:text="${lhora.turnoA}"></td>
						
					</tr>
					<tr>
						<td>Paseador</td>
						<td th:each="lhora: ${listaDeHorarios}" th:text="${lhora.paseador1}"></td>
						
					</tr>
					<tr>
						<td>Horario PM</td>
						<td  th:each="lhora: ${listaDeHorarios}" th:text="${lhora.turnoB}"></td>
						
					</tr>
					<tr>
						<td>Paseador</td>
						<td th:each="lhora: ${listaDeHorarios}" th:text="${lhora.paseador2}"></td>
						
					<tr>
						<td>Opciones</td>
						<td th:each="lhora: ${listaDeHorarios}">
							<button class="modificar"><a th:href="@{/paseos/modificarHorarios/}+${lhora.dia}"><i class="bi bi-pencil-square"></i></a></button>
							<button class="eliminar"><a th:href="@{/paseos/eliminarHorarios/}+${lhora.dia}"><i class="bi bi-x-circle"></i></a></button>
							
						</td>	
						
				</table>
		
			</div>
			<div><img class="paseo" alt="mascotasPaseando" th:src="@{/images/paseo.jpg}" title="pet1"></div>
		</section>
		<aside th:replace="~{layouts/aside :: aside}"></aside>
	</div>
	<footer th:replace="~{layouts/footer :: footer}"></footer>
</body>

</html>