<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
	<meta charset="UTF-8">
	<title>Servicio de Paseo</title>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
	<header th:replace="layouts/header :: header"></header>
	<nav th:replace="layouts/nav :: nav"></nav>
	<div class="contenido">
		<section class="paseo-general">
			<h2 id="horario-paseo">Horario de Paseos</h2>
			<div><img class="paseo" alt="mascotasPaseando" th:src="@{/images/paseo2.jpg}" title="pet2"></div>
			<div>
				<table id="t1">
					<tr>
						<th>Día</th>
						<th>Lunes</th>
						<th>Martes</th>
						<th>Miércoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
						<th>Sábado</th>
					</tr>
					<tr>
						<td>Horario</td>
						<td>9 a 12 - 16 a 18</td>
						<td>9 a 12 - 16 a 18</td>
						<td>9 a 12 - 16 a 18</td>
						<td>9 a 12 - 16 a 18</td>
						<td>9 a 12 - 16 a 18</td>
						<td>9 a 12 - 16 a 18</td>
					</tr>
					<tr>
						<td>Paseador</td>
						<td>Juan Pérez</td>
						<td>Lucas Díaz</td>
						<td>Juan Pérez</td>
						<td>María Gómez</td>
						<td>Lucas Días</td>
						<td>Roberto Vásquez</td>
					</tr>
				</table>
			</div>
			<div><img class="paseo" alt="mascotasPaseando" th:src="@{/images/paseo.jpg}" title="pet1"></div>
		</section>
		<aside th:replace="layouts/aside :: aside"></aside>
	</div>
	<footer th:replace="layouts/footer :: footer"></footer>
</body>

</html>