<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header>
		<h1>Pagina Mascotas</h1>
		<img alt="Img1" src="../static/Animales.jpg" title="Mascota Banner"
			width="100%">
	</header>
	<nav>
		<ul>
			<li><a href="index.html">Inicio</a></li>
			<li><a href="Productos.html">Productos</a></li>
			<li><a href="#">Consejos de Salud</a></li>
			<li><a href="#">Servicio de paseo</a></li>
			<li><a href="#">Sucursales</a></li>
			<li><a href="#">Contacto</a></li>
		</ul>
	</nav>
	<ol>
		<li>
			<img alt="img2" src="../static/Maintance22kg.jpg" alt="Maintance Criadores" width="50%">
			<h2>Maintance Criadores</h2>
			<p>Bolsa alimento perros de 22kg</p>
			<p>Precio: $100</p>
			<button>Agregar al carrito</button>
		</li>
		<li>
			<img alt="img3" src="../static/juguete-para-gato.jpg" alt="Juguete para Gato" width="50%">
			<h2>Juguete para gatos</h2>
			<p>Raton para gatos, marcca Robot</p>
			<p>Precio: $50</p>
			<button>Agregar al carrito</button>
		</li>
		<li>
			<img alt="img4" src="../static/peces-acuarios-pequenos.png" alt="Acuario" width="50%" >
			<h2>Acuario</h2>
			<p>Acuario marca Acme, 50lts</p>
			<p>Precio: $150</p>
			<button>Agregar al carrito</button>
		</li>
	</ol>
	<footer>
		<p>Copyright 2023 - Pagina Web - Diseñado por Grupo 11 – Jujuy –
			República Argentina</p>
	</footer>
	
</body>
</html>