<!DOCTYPE html>
<html lang='es'>

<head>
	<meta charset="UTF-8">
	<title>Productos</title>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
	<header>
		<div id="titulo">
			<h1>Mascotas Barn</h1>
		</div>
		<img id="portada" alt="Perro marron feliz" src="../static/images/Perro-portada2.jpg" title="Mascota Banner">
	</header>
	<nav>
		<ul>
			<li><a href="index.html">Inicio</a></li>
			<li><a href="productos.html">Productos</a></li>
			<li><a href="consejos.html">Consejos de Salud</a></li>
			<li><a href="paseos.html">Servicio de paseo</a></li>
			<li><a href="sucursales.html">Sucursales</a></li>
			<li><a href="contacto.html">Contacto</a></li>
		</ul>
	</nav>
	<div class="contenido">
		<section id="productos-container">
			<article class="tarjeta">
				<div class="img-prod">
					<img src="../static/images/MaintanceFondo.png" alt="Maintance Criadores">
				</div>
				<div class="descripcion">
					<h2>Maintance Criadores</h2>
					<p>Bolsa alimento perros de 22kg</p>
					<p>Precio: <b>$100</b></p>
				</div>
				<button>Agregar al carrito</button>
			</article>
			<article class="tarjeta">
				<div class="img-prod">
					<img src="../static/images/juguete-gato.png" alt="Juguete para Gato">
				</div>
				<div class="descripcion">
					<h2>Juguete para gatos</h2>
					<p>Raton para gatos, marca Smart</p>
					<p>Precio: <b>$50</b></p>
				</div>
				<button>Agregar al carrito</button>
			</article>
			<article class="tarjeta">
				<div class="img-prod">
					<img src="../static/images/peces-acuarios-pequenos.png" alt="Acuario">
				</div>
				<div class="descripcion">
					<h2>Acuario</h2>
					<p>Acuario marca Acme, 50lts</p>
					<p>Precio: <b>$150</b></p>
				</div>
				<button>Agregar al carrito</button>
			</article>
		</section>
		<aside>
			<h2>Otras recomendaciones</h2>
			<ul>
				<li>Aliméntala con una dieta equilibrada y adecuada a su edad y tamaño.</li>
				<li>Mantenla hidratada y asegúrate de tener siempre agua fresca disponible.</li>
				<li>Asegúrate de ir al veterinario regularmente para chequeos y vacunas.</li>
				<li>Proporciona suficiente ejercicio y estimulación mental.</li>
				<li>Proporciónale un lugar cómodo y seguro para descansar.</li>
			</ul>
		</aside>
	</div>
	<footer>
		<p>APU 2023 &copy; Copyright, Mascotas Barn, Diseñado por Grupo11 , SS Jujuy - Argentina</p>
	</footer>

</body>

</html>