<!DOCTYPE html>
<html lang='es'>
	<head>
	<meta charset="UTF-8">
	<title>Productos</title>
	</head>
	<body>
		<header>
			<h1>Mascotas Barn</h1>
			<img alt="Perro marron feliz" src="../static/Animales.jpg" title="Mascota Banner"
				width="100%">
		</header>
		<nav>
			<ul>
				<li><a href="index.html">Inicio</a></li>
				<li><a href="Productos.html">Productos</a></li>
				<li><a href="3-Consejos_de_salud.html">Consejos de Salud</a></li>
				<li><a href="Servicio_de_paseo.html">Servicio de paseo</a></li>
				<li><a href="sucursales.html">Sucursales</a></li>
				<li><a href="Contacto.html">Contacto</a></li>
			</ul>
		</nav>
		<section>
			<ol>
				<li>
					<img src="../static/Maintance22kg.jpg" alt="Maintance Criadores" width="50%">
					<h2>Maintance Criadores</h2>
					<p>Bolsa alimento perros de 22kg</p>
					<p>Precio: $100</p>
					<button>Agregar al carrito</button>
				</li>
				<li>
					<img src="../static/juguete-para-gato.jpg" alt="Juguete para Gato" width="50%">
					<h2>Juguete para gatos</h2>
					<p>Raton para gatos, marcca Robot</p>
					<p>Precio: $50</p>
					<button>Agregar al carrito</button>
				</li>
				<li>
					<img src="../static/peces-acuarios-pequenos.png" alt="Acuario" width="50%" >
					<h2>Acuario</h2>
					<p>Acuario marca Acme, 50lts</p>
					<p>Precio: $150</p>
					<button>Agregar al carrito</button>
				</li>
			</ol>
		</section>
		<aside>
	      <h2>Otras recomendaciones para el cuidado de mascotas</h2>
	      <ul>
	        <li>Alimenta a tu mascota con una dieta equilibrada y adecuada a su edad y tamaño.</li>
	        <li>Mantén a tu mascota hidratada y asegúrate de tener siempre agua fresca disponible.</li>
	        <li>Lleva a tu mascota al veterinario regularmente para chequeos y vacunas.</li>
	        <li>Proporciona a tu mascota suficiente ejercicio y estimulación mental.</li>
	        <li>Proporciona a tu mascota un lugar cómodo y seguro para descansar.</li>
	      </ul>
	    </aside>
		<footer>
			<p>APU 2023 &copy; Copyright, Mascotas Barn, Diseñado por Grupo11 , SS Jujuy - Argentina</p>
		</footer>
		
	</body>
</html>