<!DOCTYPE html>
<html lang='es'>
	<head >
		<meta charset="UTF-8">
		<title>Servicio de Paseo</title>
	</head>
	
	<body>
		<header>
			<h1>Mascotas Barn</h1>
			<img alt="Perro marron feliz" src="../static/Animales.jpg" title="Mascota Banner" width="100%">
		</header>
		<nav>
			<ul>
				<li><a href="index.html">Inicio</a></li>
				<li><a href="Productos.html">Productos</a></li>
				<li><a href="3-Consejos_de_salud.html">Consejos de Salud</a></li>
				<li><a href="Servicio_de_paseo.html">Servicio de paseo</a></li>
				<li><a href="sucursales.html">Sucursales</a></li>
				<li><a href="Contacto.html">Contacto</a></li>
			</ul>
		</nav>
		<section>
			<table border=1 >
				<tr>
					<th >Día</th>
					<th >Lunes</th>
					<th >Martes</th>
					<th >Miércoles</th>
					<th >Jueves</th>
					<th >Viernes</th>
					<th >Sábado</th>			
				</tr>
				<tr>
					<th >Horario</th>
					<td>9 a 12 - 16 a 18</td>
					<td>9 a 12 - 16 a 18</td>
					<td>9 a 12 - 16 a 18</td>
					<td>9 a 12 - 16 a 18</td>
					<td>9 a 12 - 16 a 18</td>
					<td>9 a 12 - 16 a 18</td>			
				</tr>
				<tr>
					<th>Paseador</th>
					<td>Juan Pérez</td>
					<td>Lucas Díaz</td>
					<td>Juan Pérez</td>
					<td>María Gómez</td>
					<td>Lucas Días</td>
					<td>Roberto Vásquez</td>			
				</tr>
			</table>
		</section>
		<aside>
	      <h2>Otras recomendaciones para el cuidado de mascotas</h2>
	      <ul>
	        <li>Alimenta a tu mascota con una dieta equilibrada y adecuada a su edad y tamaño.</li>
	        <li>Mantén a tu mascota hidratada y asegúrate de tener siempre agua fresca disponible.</li>
	        <li>Lleva a tu mascota al veterinario regularmente para chequeos y vacunas.</li>
	        <li>Proporciona a tu mascota suficiente ejercicio y estimulación mental.</li>
	        <li>Proporciona a tu mascota un lugar cómodo y seguro para descansar.</li>
	      </ul>
	    </aside>
		<footer>
			<p>APU 2023 &copy; Copyright, Mascotas Barn, Diseñado por Grupo11 , SS Jujuy - Argentina</p>
		</footer>
	</body>
</html>