<!DOCTYPE html>
<html>
	<hea lang='es'>
		<meta charset="UTF-8">
		<title>Servicio de paseo</title>
	</head>
	
	<body>
		<header>
		<h1>Pagina Servicio de paseo</h1>
		</header>
	<nav>
		<ul>
			<li><a href="" title="Inicio">Inicio</a></li>
			<li><a href="" title="Productos">Productos</a></li>
			<li><a href="" title="Consejos de salud">Consejos de Salud</a></li>
			<li><a href="" title="Servicio de paseo">Servicio de paseo</a></li>
			<li><a href="" title="Sucursales">Sucursales</a></li>
			<li><a href="" title="Contacto">Contacto</a></li>
		</ul>
	</nav>
		<table border=1 style="margin:0 auto;">
			<tr>
				<td style="font-weight:bold;text-align:center;">Día</td>
				<td style="font-weight:bold;text-align:center">Lunes</td>
				<td style="font-weight:bold;text-align:center">Martes</td>
				<td style="font-weight:bold;text-align:center">Miércoles</td>
				<td style="font-weight:bold;text-align:center">Jueves</td>
				<td style="font-weight:bold;text-align:center">Viernes</td>
				<td style="font-weight:bold;text-align:center">Sábado</td>			
			</tr>
			<tr>
				<td style="font-weight:bold;text-align:center">Horario</td>
				<td>9 a 12 - 16 a 18</td>
				<td>9 a 12 - 16 a 18</td>
				<td>9 a 12 - 16 a 18</td>
				<td>9 a 12 - 16 a 18</td>
				<td>9 a 12 - 16 a 18</td>
				<td>9 a 12 - 16 a 18</td>			
			</tr>
			<tr>
				<td style="font-weight:bold;text-align:center">Paseador</td>
				<td>Juan Pérez</td>
				<td>Lucas Díaz</td>
				<td>Juan Pérez</td>
				<td>María Gómez</td>
				<td>Lucas Días</td>
				<td>Roberto Vásquez</td>			
			</tr>
		</table>
		<footer style="position:absolute; bottom:0; text-align:center" >
			<p>APU 2023 &copy; Copyright, Mascotas Barn, Diseñado por Grupo11 , SS Jujuy - Argentina</p>
		</footer>
	</body>
</html>