<!DOCTYPE html>
<html lang="es">
	<head>
	    <meta charset="UTF-8">
	    <title>Sucursales</title>
	    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="../static/css/styles.css">
	</head>
	<body>
	    <header>
			<div id="titulo">
				<h1>Mascotas Barn</h1>
			</div>
			<img id="portada" alt="Perro marron feliz" src="../static/images/portada.jpg" title="Mascota Banner">
		</header>
		<nav>
			<ul>
				<li><a href="index.html">Inicio</a></li>
				<li><a href="producto.html">Productos</a></li>
				<li><a href="consejos.html">Consejos de Salud</a></li>
				<li><a href="paseos.html">Servicio de paseo</a></li>
				<li><a href="sucursales.html">Sucursales</a></li>
				<li><a href="contactos.html">Contacto</a></li>
			</ul>
		</nav>
		<div class="contenido">
			<section class="seccion-sucursales">
				<h2>Sucursales</h2>
				<p>Actualmente hay 3 locales y seguiremos creciendo con nuevas aperturas en el área.</p>
				<div class="sucursales-disponibles">
					<div class="sucursales">
						<article class="sucursal">
							<h3>Las Vicuñas 890, San Salvador de Jujuy, Jujuy</h3>
							<p>
								Telefono: +54 9 11 5587 5274 <br>
				
								Mail: vicuñas@vet.com.ar <br>
				
								Lunes a viernes: 8 a 21 hs <br>
								Sábados: 9 a 21 hs <br>
								Domingos: 10 a 20 hs <br>
								Feriados: 10 a 19 hs <br>
							</p>
						</article>
						<article class="sucursal">
							<h3>Av. España 1650, San Salvador de Jujuy, Jujuy</h3>
							<p>
								Telefono: +54 11 2259 4709 <br>
				
								Mail: avespaña@vet.com.ar <br>
				
								Lunes a viernes: 8 a 21 hs <br>
								Sábados: 9 a 21 hs <br>
								Domingos: 10 a 20 hs <br>
								Feriados: 10 a 19 hs <br>
							</p>
						</article>
						<article class="sucursal">
							<h3>Juana Manuela Gorriti 315, San Salvador de Jujuy, Jujuy</h3>
							<p>
								Telefono: +54 9 11 6696 2038 <br>
				
								Mail: gorriti@vet.com.ar <br>
				
								Lunes a viernes: 8 a 21 hs <br>
								Sábados: 9 a 21 hs <br>
								Domingos: 9 a 21 hs <br>
								Feriados: 10 a 20 hs <br>
							</p>
						</article>
					</div>
				</div>
			</section>
			<aside>
				<h2>Otras recomendaciones</h2>
				<ul>
					<li>Aliméntala con una dieta equilibrada y adecuada a su edad y tamaño.</li>
					<li>Mantenla hidratada y asegúrate de tener siempre agua fresca disponible.</li>
					<li>Asegúrate de ir al veterinario regularmente para chequeos y vacunas.</li>
					<li>Proporciona suficiente ejercicio y estimulación mental.</li>
					<li>Proporciónale un lugar cómodo y seguro para descansar.</li>
				</ul>
			</aside>
		</div>
	    <footer>
			<p>APU 2023 &copy; Copyright, Mascotas Barn, Diseñado por Grupo11 , SS Jujuy - Argentina</p>
		</footer>
	</body>
</html>