<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucursales</title>
</head>
<body>
    <header>
		<h1>Pagina Mascotas</h1>
		<img alt="Img1" src="../static/Animales.jpg" title="Mascota Banner" width="100%">
	</header>
	<nav>
		<ul>
			<li><a href="">Inicio</a></li>
			<li><a href="">Productos</a></li>
			<li><a href="">Consejos de Salud</a></li>
			<li><a href="">Servicio de paseo</a></li>
			<li><a href="">Sucursales</a></li>
			<li><a href="">Contacto</a></li>
		</ul>
	</nav>
    <h2>Sucursales</h2>
    <p>Actualmente hay 3 locales y seguiremos creciendo con nuevas aperturas en el área.</p>
    <section>
        <article>
            <h3>Las Vicuñas 890, San Salvador de Jujuy, Jujuy</h3>
            <p>
                Telefono: +54 9 11 5587 5274 <br>

                Mail: vicuñas@vet.com.ar <br>

                Lunes a viernes: 8 a 21 hs <br>
                Sábados: 9 a 21 hs <br>
                Domingos: 10 a 20 hs <br>
                Feriados: 10 a 19 hs <br>
            </p>
        </article>
        <article>
            <h3>Av. España 1650, San Salvador de Jujuy, Jujuy</h3>
            <p>
                Telefono: +54 11 2259 4709 <br>

                Mail: avespaña@vet.com.ar <br>

                Lunes a viernes: 8 a 21 hs <br>
                Sábados: 9 a 21 hs <br>
                Domingos: 10 a 20 hs <br>
                Feriados: 10 a 19 hs <br>
            </p>
        </article>
        <article>
            <h3>Juana Manuela Gorriti 315, San Salvador de Jujuy, Jujuy</h3>
            <p>
                Telefono: +54 9 11 6696 2038 <br>

                Mail: gorriti@vet.com.ar <br>

                Lunes a viernes: 8 a 21 hs <br>
                Sábados: 9 a 21 hs <br>
                Domingos: 9 a 21 hs <br>
                Feriados: 10 a 20 hs <br>
            </p>
        </article>
    </section>
    <footer>Copyright 2023 - Nombre del sitio - Diseñado por Grupo 99 – Jujuy – República Argentina</footer>
</body>
</html>