<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sucursales</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" th:href="@{/images/Mascotas-Barn2.ico}"
	type="image/x-icon">
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
	rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link rel="stylesheet" th:href="@{/css/style.css}">


</head>

<body>
	<header th:replace="~{layouts/header :: header}"></header>
	<nav th:replace="~{layouts/nav :: nav}"></nav>
	<div class="container-xxl my-4">
		<div class="row gap-4 justify-content-evenly">
			<section class="col-12 col-sm-11 col-lg-7 bg-light p-4 rounded-4">
				<div class="titulares container mw-100">
					<div class="align-items-center position-relative d-flex ">
						<h2 class=" fw-bold mx-auto my-0">Sucursales</h2>

						<button class="position-absolute end-0 boton-agregar my-0 p-0">
							<a class="text-white fs-3"
								th:href="@{/sucursales/nueva-sucursal}"><i
								class="bi bi-plus-circle"></i></a>
						</button>
					</div>
				</div>
				<form class="d-flex mt-2" role="search"
					th:action="@{/sucursales/buscar-sucursal}" method="get">
					<input class="form-control me-2" type="search" name="query"
						id="query" placeholder="Buscar una sucursal por dirección">
					<button class="btn btn-outline-success" type="submit">Buscar</button>
				</form>
				<div class="filtros mt-4">
					<h5 class="fs-5">Filtrar por horario</h5>
					<form th:action="@{/sucursales/filtrar-horario}"
						class="d-flex gap-3" method="get">
						<div class="form-floating mb-3">
							<input type="time" class="form-control px-5"
								placeholder="Ingrese el horario" name="horaInicio"
								id="horaInicio"> <label class="form-label">Horario
								Apertura</label>
						</div>
						<div class="form-floating mb-3">
							<input type="time" class="form-control px-5"
							placeholder="Ingrese el horario" name="horaFin" id="horaFin">
							<label class="form-label">Horario de Cierre</label>
						</div>
						<button class="btn btn-outline-success mb-3" type="submit">Filtrar</button>
					</form>
				</div>
				<!-- <p class="mt-4">Actualmente hay <span th:text="${sucursalesDisponibles.size()}"></span> locales y seguiremos creciendo con nuevas aperturas en el área.</p> -->
				<div class="resultados-busqueda" th:if="${queryResult}">
					<p
						class="bg-success bg-opacity-10 p-1 my-3 rounded text-success text-center fw-bold"
						th:if="${queryResult.size() != 0}">
						Se encontraron <span th:text="${queryResult.size()}"></span>
						resultados
					</p>
					<article class="my-3 px-4" th:each="sucursal : ${queryResult}">
						<h3 class="fw-bold fs-4" th:text="${sucursal.direccion}"></h3>
						<p th:text="${'Telefono: '} + ${sucursal.telefono}"></p>
						<p th:text="${'Mail: '} + ${sucursal.mail}"></p>

						<p th:text="'Horarios Apertura: ' + ${sucursal.horarioInicio}"></p>
						<p th:text="'Horarios Clausura: ' + ${sucursal.horarioFin}"></p>
						<div class="botones">
							<button class=" px-0 py-1 btn btn-success ">
								<a style="font-size: 20px;" class="text-white"
									th:href="@{/sucursales/editar-sucursal/}+${sucursal.direccion}">
									<i class="px-2 py-1 bi bi-pencil-square"></i>
								</a>
							</button>
							<button class="px-0 py-1 btn btn-danger">
								<a style="font-size: 20px;" class="text-white"
									th:href="@{/sucursales/eliminar-sucursal/}+${sucursal.direccion}">
									<i class="px-2 py-1 bi bi-x-circle"></i>
								</a>
							</button>
						</div>
					</article>
					<p
						class="bg-danger bg-opacity-10 p-1 my-3 rounded text-danger text-center fw-bold"
						th:if="${queryResult.size() == 0}">No se encontraron
						resultados</p>
				</div>
				<div class="sucursales-disponibles">
					<div class="sucursales">
						<article class="my-3 px-4" th:each="sucursal : ${listaSucursales}"
							th:if="${sucursal.getEstado()}">
							<h3 class="fw-bold fs-4" th:text="${sucursal.direccion}"></h3>
							<p th:text="${'Telefono: '} + ${sucursal.telefono}"></p>
							<p th:text="${'Mail: '} + ${sucursal.mail}"></p>
							<p th:text="'Horarios Apertura: ' + ${sucursal.horarioInicio}"></p>
							<p th:text="'Horarios de cierre: ' + ${sucursal.horarioFin}"></p>
							<div class="botones">
								<button class=" px-0 py-1 btn btn-success ">
									<a style="font-size: 20px;" class="text-white"
										th:href="@{/sucursales/editar-sucursal/}+${sucursal.id}">
										<i class="px-2 py-1 bi bi-pencil-square"></i>
									</a>
								</button>
								<button class="px-0 py-1 btn btn-danger">
									<a style="font-size: 20px;" class="text-white"
										th:href="@{/sucursales/eliminar-sucursal/}+${sucursal.id}">
										<i class="px-2 py-1 bi bi-x-circle"></i>
									</a>
								</button>
							</div>
						</article>
					</div>
				</div>
			</section>
			<aside th:replace="~{layouts/aside :: aside}"></aside>
		</div>
	</div>
	<footer th:replace="~{layouts/footer :: footer}"></footer>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
		crossorigin="anonymous"></script>
</body>

</html>