<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aside</title>
</head>
<body>
	<footer th:fragment="footer" class="bg-dark container-fluid w-100">
        <div class="align-items-center justify-content-center d-block">
            
            <div class="social-links d-flex gap-3 col-1  mx-auto my-0 pt-2 ">
                <a class="text-white fs-5" href="#"><i class="bi bi-instagram"></i></a>
                <a class="text-white fs-5" href="#"><i class="bi bi-facebook"></i></a>
                <a class="text-white fs-5" href="#"><i class="bi bi-whatsapp"></i></a>
            </div>
            <p class="text-center text-white p-2 mx-auto my-0 ">APU 2023 &copy; Copyright, Mascotas Barn, Diseñado por Grupo11 , SS Jujuy - Argentina</p>
        </div>
	</footer>
</body>
</html>