<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<title>Nav</title>
</head>

<body>
	<nav th:fragment="nav" class="navbar navbar-expand-xxl bg-dark">
		<div class="container-fluid">
			<div class="d-flex gap-2">
				<img th:src="@{/images/dog-running.png}" class="img-fluid" alt="">
				<a class="navbar-brand text-white fw-bold m-0" href="#">MASCOTAS BARN</a>
				<img th:src="@{/images/witch-cat.png}" class="img-fluid" alt="">
				<!--<div style="height: 60px;">
					<a th:href="@{/index}"><img th:src="@{/images/Mascotas-Barn(reducido).png}" style="max-height: 100%;" alt="logo"></a>
				</div>-->
			</div>
			<button class="navbar-toggler border border-1 border-white text-white" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<i class="bi bi-list"></i>
			</button>
			<div class="collapse navbar-collapse w-100 justify-content-center" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item px-2">
						<a class="nav-link text-white fw-bold" th:href="@{/index}">INICIO</a>
					</li>
					<li class="nav-item px-2">
						<a class="nav-link text-white fw-bold" th:href="@{/producto/listado}">PRODUCTOS</a>
					</li>
					<li class="nav-item px-2">
						<a class="nav-link text-white fw-bold" th:href="@{/consejos/listado}">CONSEJOS DE SALUD</a>
					</li>
					<li class="nav-item px-2">
						<a class="nav-link text-white fw-bold" th:href="@{/paseos/horarios}">SERVICIO DE PASEOS</a>
					</li>
					<li class="nav-item px-2">
						<a class="nav-link text-white fw-bold" th:href="@{/sucursales/listado}">SUCURSALES</a>
					</li>
					<li class="nav-item px-2">
						<a class="nav-link text-white fw-bold" th:href="@{/contacto/formulario}">CONTACTO</a>
					</li>
				</ul>
				
				<div class="dropdown d-xxl-none d-xxl-flex z-3">
					<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						Gestion
					</button>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li><a class="dropdown-item" th:href="@{/producto/listado}">Administrar Productos</a></li>
						<li><a class="dropdown-item" th:href="@{/categoria/listado}">Administrar Categorias</a></li>
						<li><a class="dropdown-item" th:href="@{/sucursales/listado}">Administrar Sucursales</a></li>
						<li><a class="dropdown-item" th:href="@{/provincia/listado}">Administrar Provincias</a></li>
						<li><a class="dropdown-item" th:href="@{/gestion}">Administrar Servicios de Paseo</a></li>
						<li><a class="dropdown-item" th:href="@{/contacto/mensajes}">Administrar Contactos</a></li>
					</ul>
				</div>
			</div>
			<!--<div class="social-links d-none d-xl-flex gap-3">
				<button class="btn btn-outline-secondary text-white">Login</button>
			</div>-->
			<div class="dropdown d-none d-xxl-flex z-3">
				<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
					aria-expanded="false">
					Gestion
				</button>
				<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end dropdown-menu-lg-end">
					<li><a class="dropdown-item" th:href="@{/producto/listado}">Administrar Productos</a></li>
					<li><a class="dropdown-item" th:href="@{/categoria/listado}">Administrar Categorias</a></li>
					<li><a class="dropdown-item" th:href="@{/sucursales/listado}">Administrar Sucursales</a></li>
					<li><a class="dropdown-item" th:href="@{/provincia/listado}">Administrar Provincias</a></li>
					<li><a class="dropdown-item" th:href="@{/gestion}">Administrar Servicios</a></li> 
					<li><a class="dropdown-item" th:href="@{/contacto/mensajes}">Administrar Contactos</a></li>
				</ul>
			</div>
		</div>
	</nav>
</body>

</html>