/*@charset "ISO-8859-1";*/
/* GLOBAL */
* {
	margin: 0px;
	padding: 0px;
}
button {
	display: block;
	border: none;
	cursor: pointer;
	width: 250px;
	height: 40px;
	background: radial-gradient(#025159 0%, #35402D 100%);
	color: #fff;
	margin: 0 auto;
}
/* BODY */
body {
	font-family: "Poppins", "sans-serif";
	font-size: 16px;
	padding-top: 2px;
	background-color: #8C8C88;
	width: 99%;
	margin: 0 auto;
}

.contenido {
	display: grid;
	justify-content: space-between;
	/*flex-wrap: nowrap;*/
	grid-template-columns:65% 35%;
	gap: 30px;
	margin: 20px auto;
	width: 1200px;
}


/* HEADER */
header {
	position: relative;
	font-size: 50px;
}

header::after {
	content: "";
	position: absolute;
	top: 60%;
	left: 0;
	width: 100%;
	height: 40%;
	background-color: rgba(0, 0, 0, 0.5);
}

header img {
	max-height: 300px;
}

/* NAV */
nav ul {
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	overflow: hidden;
	background-color: rgb(32, 36, 38);
}

nav li {
	float: left;
}

nav li a {
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: inherit;
}
nav li a:hover{
	background-color: #363a3c;
}

/* HEADERS */
h2 {
	padding: 10px;
	background: radial-gradient(#025159 0%, #35402D 100%);
	border-radius: 5px;
	color: white;
	text-align: center;
}

/* INDEX */
#nosotros {
	display: flex;
	flex-direction: column;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	max-width: 100%;
	text-align: justify;
	height: 500px;
}

#nosotros article {
	margin-top: 10px;
}

/* PRODUCTOS */
#titulo-producto{
	background: none;
	padding: 0;
}
.productos-nav{
	display: flex;
	background: radial-gradient(#025159 0%, #35402D 100%);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	position: relative;
	align-items: center;
	
}
.productos-nav h2{
	width: fit-content;
	margin: 0 auto;
}
.productos-nav button{
	font-size: 25px;
	background: none;
	text-align: start;
	justify-content: center;
	width: fit-content;
	margin: 0;
	right: 0;
}
.productos-nav button a{
	color: #fff;
}
.productos-principal{
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	
}
#productos-container {
	max-width: 1200px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
	margin-top: 10px;
}

.tarjeta {
	background-color: #fafafa;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border:2px solid #000;
}

.tarjeta img {
	max-width: 100%;
	max-height: 100%;
	transition: all .5s;
}

.tarjeta img:hover {
	transform: scale(1.2);
}

.img-prod {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px;
	background: #f0f0f0;
	height: 250px;
	width: 100%;
}

.descripcion {
	width: 100%;
}

.descripcion h3 {
	background: radial-gradient(#025159 0%, #35402D 100%);
	padding: 10px;
	text-align: center;
	color: white;
	border-radius: 0;
}

.descripcion p {
	text-align: center;
	padding: 10px 0;
}

.tarjeta button {
	margin: 20px;
	background: radial-gradient(#025159 0%, #35402D 100%);
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
}

/* CONSEJOS DE SALUD */
#contenedor-consejos {
	display: flex;
	margin: 20px auto;

}

#content {
	display: block;
	min-height: 500px;
	background: #fafafa;
	text-align: center;
	padding: 20px;
	border-radius: 10px;
}

#articulos {
	display: block;
	justify-content: center;
}

.articulo {
	text-align: justify;
	max-width: 100%;
	color: #000;
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 25px;
	border-left: 10px solid #3F7373;
}

.articulo ul,
.articulo ol {
	padding: 20px;
}


#titulo {
	position: absolute;
	bottom: 0;
	left: -10;
	color: white;
	z-index: 1;
}

#portada {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

#front-page {
	width: 100%;
	height: 400px;
	object-fit: cover;
}

/* CONTACTO */

#fieldset-form {
	width: fit-content;
	padding: 20px;
	border-radius: 5px;
	margin: 0 auto;
}

fieldset ul {
	list-style: none;
}

#seccion {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	display: block;
	justify-content: center;
}



input {
	width: 350px;
	height: 30px;
	right: 0;
	margin-bottom: 10px;
}
textarea{
	resize: none;
	width: 100%;
	margin-bottom: 10px;
}


.seccion-sucursales {
	max-width: 1200px;
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
}

.sucursales-disponibles {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

.sucursales {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.sucursales .sucursal h3 {
	margin-bottom: 10px;
}

.sucursales .sucursal {
	border-left: 10px solid #3F7373;
	padding-left: 20px;
}

/* PASEOS */
.paseo-general{
	background: #fff;
	border-radius: 10px;
	padding: 20px;
}
#horario-paseo{
	margin-bottom: 10px;
}
.paseo {
	max-width: 100%;
	height: 25%;;
	border-radius: 10px;
}


table {
	text-align: center;
	width: 100%;
	font-size:10px;
}

th {
	color: white;
	border-width: 2px;
	padding: 1px;
	border-style: inset;
	border-color: #BABDBF;
	background-color: #3F7373;
}

td {
	color: #025159;
	border-width: 2px;
	padding: 1px;
	border-style: inset;
	border-color: #BABDBF;
	background-color: rgb(255, 255, 240);
}

/* ASIDE */
aside {
	text-align: justify;
	color: white;
	padding: 30px;
	background: radial-gradient(#025159 0%, #35402D 100%);
	border-radius: 10px;
}

aside ul {
	list-style-type: circle;
}

/* FOOTER */
footer {
	background-color: rgb(32, 36, 38);
	color: white;
	padding: 10px;
	text-align: center;
}