/* Global */ 
* {
	margin: 0px;
	padding: 0px;
}
body{
    background-color: #8C8C88;
    font-family: 'Poppins' , sans-serif;
}
.titulares{
	padding: 10px;
	background: radial-gradient(#025159 0%, #35402D 100%);
	border-radius: 5px;
	color: white;
	text-align: center;
}
/* Carousel Banner */
.carousel-item{
    width: 100%; /*width you want*/
    height: 300px; /*height you want*/
    overflow: hidden;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-banner{
    font-size: calc(3.5rem + 1.5vw)!important;
}

/* Sucursales */
.sucursales-disponibles .sucursales article {
    border-left: 10px solid #025159;
}

/* Aside */
aside{
    background: radial-gradient(#025159 0%, #35402D 100%);
}